.card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    &-item {
        width: 34%;
        flex: 1 1 34%;
        min-width: 156px;
        max-width: 245px;
        &--intern {

        }
        &--image {
            img {
                width: 100%;
                border-radius: 20px 20px 0 0;
            }
        }
        &--body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7px;
            box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.25);
            padding: 15px;
            text-align: center;
        }
    }

    &-title {
            text-align: center;
            font-family: Lato;
        &-bold {
            font-size: 28px;
            font-family: 'Arvo';
            padding-bottom: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 126.432%; /* 60.687px */
            letter-spacing: 0.24px;
            text-transform: capitalize;
            height: 70px;
            @media screen and (max-width: 1024px) {
                height: initial;
            }
        }
        &-1 {
            font-size: 13px;
            font-weight: 600;
            line-height: 170.432%; /* 34.086px */
            letter-spacing: 0.1px;
            text-transform: capitalize;
        }
        &-2 {
            color: #6B5E4E;
            font-size: 10px;
            font-weight: 400;
        }
    }

    &.card-type-2 {
        gap: 60px;
        flex-wrap: wrap;
        @media screen and (max-width: 1024px) {
            gap: initial;
        }
        .card-item {
            &--image {
                img {
                    width: 150px;
                    height: 150px;
                }
            }
            &--body {
                gap: 10px;
                box-shadow: initial;
            }
        }
    }
}